{% load staticfiles %}
<html>
<head>
<title>NewsAPP</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'stylle.css' %}">

</head>

<body>
  <header>
    <div style="background-image: url('static/img2.jpg');">  
    {% block content %} 
    <div style="color:rgb(255,255,40);float:right;" class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
   NEWS_CATEGORIES 
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Business</a>
    <a class="dropdown-item" href="#">Technical</a>
    <a class="dropdown-item" href="#">International</a>
    <a class="dropdown-item" href="#">Entertainment</a>
    <a class="dropdown-item" href="#">Sports</a>

 </div>
</div>

 <h2 style=" border:9px solid rgb(110,120,120);float:right; display: inline-block;font-size: 16px; background: rgb(110,120,120);"> <a href="/register" target="blank" style="color:rgb(255,255,255);" ><strong>SIGN_UP</strong></a></h2>
<h2 style=" border:9px solid rgb(110,120,120);float:right; display: inline-block;font-size: 16px; background: rgb(110,120,120);"> <a href="/login" target="blank" style="color:rgb(255,255,255);" ><strong>LOGIN</strong></a></h2>
<h1 style="color:rgb(255,255,20); text-align:center; font-size: 60px;padding-top: 150px;  text-shadow: 2px 2px 4px #000000;font-family: verdana; font-weight: bold;">Welcome to NewsAPP</h1>
</header>


<h3 style=" font-weight: bold;color:rgb(120,120,120);padding-top: 50px;font-family: verdana; text-align:center;text-shadow: 2px 2px 4px #000000; ">Search worldwide news with an APP</h3>

{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>